name: CI
on: 
  push:
    branches:
      - main
      - master
  pull_request:
jobs:

  build:
    name: build
    runs-on: ubuntu-latest
    steps:

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.20.x
        id: go

      - name: Check out code
        uses: actions/checkout@v1

      - name: Check gofmt
        run: test -z "$(gofmt -s -d .)"
      
      - name: Build
        run: make build

      - name: Test
        run: make test-unit
